APP_NAME="BudgetFlow API"
APP_VERSION="0.1.0"
NODE_ENV="development"
PORT=3000
API_PREFIX="api/v1"
SWAGGER_PATH="docs"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/budgetflow?schema=public"
